/*--- Extra large devices (large desktops, 1400px and up) -----*/

@media (min-width: 1395px) {
	.hero_section>div {
		padding: 15.3rem 57.9rem 15.3rem 6.5rem;
	}
}


/* ------ Medium devices (tablets, 991px and down) -----*/

@media (max-width: 991px) {

	.menu {
		display: none;
	}

	.hamburger-menu {
		display: inline-block;
	}

	header {
		margin: 1.6rem 0;
		/* position: relative; */
		/* top: 0; */
	}

	nav {
		padding: 0px 12px 0px 16px;
	}
	.hero_section{
		position: absolute;
		margin-top: 72px;
		top: 0;
	}
	.hero_section>div {
		padding: 23rem .1rem 11.4rem 0px;
		align-items: center;
		gap: 5.6rem;
	}
	h1 {
		font-size: 4.8rem;
		text-align: center;
	}	

}



/*----- sm devices (tablets, 767px and down) -----*/

@media (max-width: 767px) {}


/*----- xs devices (landscape phones, 575px and down) -----*/

@media (max-width: 575px) {}