/*--- Extra large devices (large desktops, 1400px and up) -----*/

@media (max-width: 1440px) {
	.project_section_header {
		margin: 0 18.6rem 6.4rem 18.6rem;
	}
}


/* ------ Medium devices (tablets, 991px and down) -----*/

@media (max-width: 991px) {

	.menu {
		display: none;
	}

	.hamburger-menu {
		display: inline-block;
	}

	header {
		margin: 1.6rem 0;
		/* position: relative; */
		/* top: 0; */
	}

	nav {
		padding: 0px 12px 0px 16px;
	}

	.hero_section>div {
		padding: 23rem .1rem 11.4rem 0px;
		align-items: center;
		gap: 5.6rem;
	}

	h1 {
		font-size: 4.8rem;
		text-align: center;
	}

	.sponsor {
		padding: 3.2rem 1.6rem;
	}

	.sponsor_container {
		grid-template-columns: repeat(2, 1fr) !important;
	}

	.company_logo1 {
		width: 127.5px;
	}

	.company_logo2 {
		width: 125.25px;
		height: 36px;
	}

	.company_logo3 {
		width: 148.5px;
	}

	.company_logo4 {
		width: 124.5px;
	}

	.company_logo5 {
		width: 147.75px;
	}

	.company_logo6 {
		width: 136.5px;
	}

	.feature_section {
		padding: 0;
	}

	.feature_container {
		flex-direction: column;
		padding: 6.4rem 1.6rem;
	}


	.project_section ,.expertise_section{
		padding: 9.6rem .8rem;
	}

	.project_section_header {
		margin: 0;
	}

	h2 {
		font-size: 3.2rem;
	}

	p {
		font-size: 1.8rem;
	}

	h2,
	p {
		text-align: center !important;
	}

	.project_box {
		flex-direction: column;
		padding: 4rem 3.5rem;
	}

	.project_box img,
	.cta_section img {
		min-width: 100%;
	}

	video {
		width: 90vw;
		height: 192px;
	}

	.project_box_right_side {
		display: flex;
		flex-direction: column;
	}



	.cta_section {
		flex-direction: column-reverse;
		gap: 3.2rem;
		padding: 4rem 1.6rem;
	}

	.cta_section_left {
		padding: 0;
	}
	.cta_btns{
		flex-direction: column-reverse;
	}

}

/*----- sm devices (tablets, 767px and down) -----*/

@media (max-width: 767px) {}


/*----- xs devices (landscape phones, 575px and down) -----*/

@media (max-width: 575px) {}