:root {
    --Blue-Default: #4595E6;
    --GREEN-Dark: #267880;
    --Dodger-Blue-900: #274981;
    --Gray-modern-500: #697586;
    --Gray-modern-600: #4B5565;
    --Gray-modern-900: #121926;
    --Venice-Blue-900: #213C59;
    --Base-White: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    transition: 200ms;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* -------common style ----- */

/* <!-- -------nav starts------  --> */
header {
    margin: auto 8rem;
}

nav {
    display: flex;
    padding: 1.8rem 3.2rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    z-index: 100;
}

.menu {
    display: flex;
    gap: 6.4rem;
}

.menu ul {
    display: flex;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
}

ul li {
    color: var(--Gray-modern-600);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    /* 150% */
    display: flex;
    align-items: center;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 12rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.nav_btn {
    padding: 1rem 1.8rem;
    border-radius: 8px;
    border: 1px solid var(--Blue-Default);
    background: var(--Blue-Default);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Base-White);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    /* 150% */
}

/* <!-- hamburger-menu --> */

.hamburger-menu {
    border: none;
    display: none;
    background: none;
    z-index: 100;
}

.hamburger-menu .toggle {
    height: 3.5rem;
    width: 3.5rem;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

.toggle_btn {
    display: none;
    visibility: hidden;
}

.toggle .common {
    position: absolute;
    height: 2.1px;
    width: 2rem;
    background-color: var(--Blue-Default);
    border-radius: 5rem;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    transform: translate(-50%, -50%);
}

.toggle .mid_line {
    top: 50%;
    transform: translate(-50%, -50%);
}

.toggle .end_line {
    top: 70%;
    transform: translate(-50%, -50%);
}

.toggle_btn:checked~.toggle .top_line {
    left: 5px;
    top: 18px;
    width: 25px;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

.toggle_btn:checked~.toggle .mid_line {
    opacity: 0;
}

.toggle_btn:checked~.toggle .end_line {
    left: 5px;
    top: 18px;
    width: 25px;
    transform: rotate(-45deg);
    transition: 0.5s ease-in-out;
}

.side_area {
    padding-left: 3.2rem;
}

.slide {
    position: absolute;
    z-index: 100;
    width: 100vw !important;
    transition: 0.6s ease;
    display: none;
    transform: translateY(20px);
    opacity: 0.8;
    background: #FFF;
    /* background: rgb(235, 200, 200); */
    box-shadow: 14px 14px 90px 60px rgba(226, 215, 215, 0.07) inset, -14px -14px 90px 50px rgba(245, 244, 244, 0.08) inset, 20px 20px 90px 90px rgba(255, 237, 237, 0.09) inset;

}

.slide_nav {
    padding: 3rem;
}

.slide_nav .dropdown {
    position: relative;
    display: block;
}

.slide ul li {
    color: var(--Blue-Default);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 10px;
}

/* <!-- accordion dropdown --> */
.accordion {
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 1rem 1.8rem;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-bottom: 1rem;
}

.panel li {
    font-size: 1.4rem !important;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
}

#sub {
    display: none;
}

/* -----------hero section---------- */
.hero_section {
    background-image: url("../img/hero_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.hero_section>div {
    display: flex;
    padding-bottom: 5.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4.8rem;
    padding: 15.3rem 57.9rem 15.3rem 6.5rem;
}

h1 {
    color: var(--Gray-modern-25, #FCFCFD);
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 70.4px */
}

.hero_btn {
    display: flex;
    padding: 1.6rem 2.8rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    border-radius: .8rem;
    border: 1px solid #E8B167;
    background: #E8B167;

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #FEF8F0;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
    /* 155.556% */
}

/* <!-- -------hero ends------  --> */

/* <!-- -------sponsor starts------ --> */
.sponsor {
    padding: 6.4rem 3.2rem;
    z-index: 900;
}

.sponsor p {
    color: var(--Gray-modern-500);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    /* 150% */
}

.sponsor_container {
    padding: 3.2rem 3.2rem 0 3.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}



.company_logo1 {
    display: flex;
    align-items: center;
    margin: auto;
    width: 17rem;
}

.company_logo2 {
    display: flex;
    align-items: center;
    margin: auto;
    width: 16.7rem;
    height: 4.8rem;
}

.company_logo3 {
    display: flex;
    align-items: center;
    margin: auto;
    width: 19.8rem;
}

.company_logo4 {
    display: flex;
    align-items: center;
    margin: auto;
    width: 16.6rem;
    height: 4.8rem;
}

.company_logo5 {
    display: flex;
    align-items: center;
    margin: auto;
    width: 19.7rem;
}

.company_logo6 {
    display: flex;
    align-items: center;
    margin: auto;
    width: 18.2rem;
}

/* <!-- -------sponsor ends------ --> */

/* <!-- -------feature section ends------ --> */
.feature_section {
    background-color: #F7F9FC;
    padding: 0 8rem;
}

.feature_container {
    padding: 6.4rem 3.2rem;
    display: flex;
    gap: 3.2rem;
}

.feature_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature_box .icon {
    display: flex;
    width: 4.8rem;
    height: 4.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 2.8rem;
    border: 8px solid var(--Dodger-Blue-50, #F0F8FE);
    background: var(--Dodger-Blue-100, #DEEDFB);
    margin-bottom: 2rem;
}

.feature_text {
    color: var(--Gray-modern-900, #121926);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
}

.feature_subtext {
    margin-top: 8px;
    color: var(--Gray-modern-600, #4B5565);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}


/* <!-- -------feature section ends------ --> */

/* <!-- -------ex project section starts------ --> */

.project_section {
    padding: 9.6rem 8rem;
}

.project_section_header {
    margin: 0 25.6rem 6.4rem 25.6rem;
}

h2 {
    color: var(--Gray-modern-900, #121926);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 91.667% */
    letter-spacing: -0.96px;
}

p {
    margin-top: 2rem;
    color: var(--Gray-modern-600, #4B5565);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.project_box {
    border-radius: 24px;
    background: #E1F3F5;
    padding: 4rem;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.project_box img {
    border-radius: 10px;
    min-width: 60%;
    border: 4px solid var(--Venice-Blue-900, #213C59);
}

h3 {
    color: var(--Venice-Blue-900, #213C59);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    /* 126.667% */
}

h6,
.project_box_right_side li {
    margin: 1.6rem 0;
    color: var(--Gray-modern-600, #4B5565);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
}

.project_box_right_side li {
    gap: 12px;
}

.project_box .hero_btn {
    margin-top: 3.2rem;
    background-color: var(--GREEN-Dark);
    border: 1px solid var(--GREEN-Dark);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
video{
    width: 768px;
    height: 512px;
    flex-shrink: 0;
}
.p_img3{
    margin: 0 6.4rem;
}
/* <!-- -------ex project section ends------ --> */